@font-face {
  font-family: 'Fontello';
  src: url('fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amiri';
  src: url('fonts/amiri-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Amiri';
  src: url('fonts/amiri-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Amiri';
    src: url('fonts/amiri-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
  font-family: 'Amiri';
  src: url('fonts/amiri-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}


@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('fonts/ubuntumono-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Mono';
    src: url('fonts/ubuntumono-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/ubuntumono-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/ubuntumono-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}



/* Reset (historische Gründe) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
}
body {
  line-height: 1;
  text-rendering: optimizeLegibility;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
command, datalist, source, track {
  display: none;
}
figure, menu {
  margin-top: 1em;
  margin-bottom: 1em;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}



/* Basics */

:root {
  font-size: 17px;
  box-sizing: border-box;
  --link-red: #8A1C1C;
  --link-red-alt: #A84747;
  --headline-font: "Amiri", Georgia, "Times New Roman", serif;
  --body-font: "Lato", Arial, sans-serif;
  --mono-font: "Ubuntu Mono", monospace;
  --red: #912121;
  --text-color: #27252E;
  --banner-width: 120px;
  --side-margin: 2rem;
  --wrapper-padding: 3rem;
  --border-color: #E0DBD7;
  --page-background: #FFF;
  --body-background: #F2F2F0;
  --shadow-color: rgba(48, 43, 43, 0.375);
  --border-color-bright: #F5F5F5;
  --box-bg-color: #FAFAFA;
  --box-border-color: #e6e2df;
  --base-size: 1.2rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px;
    --side-margin: 1rem;
  }
}

@media screen and (max-width: 640px) {
  :root {
    font-size: 12px;
    --wrapper-padding: 1.5rem;
    --side-margin: 0;
  }
}

@media screen and (max-width: 520px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    font-size: 10px;
  }
}



/* Body, Wrapper & Main */

body {
  font-size: var(--base-size);
  line-height: 1.8;
  font-family: var(--body-font);
  padding: 0 var(--side-margin);
  background: var(--body-background);
  color: var(--text-color);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

main {
  background: var(--page-background);
  box-shadow: 0 0 6rem -0.5rem var(--shadow-color);
  padding: 4rem var(--wrapper-padding) 3.5rem var(--wrapper-padding);
}



/* Page-Header + Navi */

.pageHeader {
  font-family: var(--headline-font);
  background: var(--text-color);
  box-shadow: 0 0.5rem 2rem var(--shadow-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 0 var(--side-margin);
}

.pageHeader div.wrapper {
  display: flex;
}

h1 {
  flex: 1 1 0;
}

h1 a {
  display: block;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: none !important;
  background: var(--red) url(images/banner.png) center center no-repeat !important;
  background-size: contain !important;
  text-indent: -1337px;
}

nav {
  flex: 5 5 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  flex: 1 1 0;
  font-size: 1.4rem;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 400px) {
  nav li {
    font-size: 1.25rem;
  }
}

nav a {
  color: var(--page-background) !important;
  border-bottom: none !important;
  text-align: center;
  display: block;
  padding: 0.75rem 0;
  font-weight: normal;
}

nav a:link, nav a:visited {
  text-shadow: 0 0 0.75em #000;
}

nav a:hover, nav a:active {
  text-shadow: 0 0 0.75em var(--page-background);
}

nav li.active a {
  background: #000;
  color: #FFF;
}

nav a:focus {
  text-decoration: underline;
}



/* Blogposts */

.blogpost {
  border-bottom: 1px dotted var(--border-color);
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

.blogpost:only-child {
  border-bottom: none;
  padding-bottom: 0;
}

.blogpost__header__meta {
  font-size: 0.8em;
  font-style: italic;
  margin: -0.5rem 0 -0.25em 0;
}

.blogpostHeader + .warnmsg {
  margin-top: 3em;
}

.post-navigation {
  text-align: center;
  line-height: 2;
  margin: 2.5rem 0 0 0;
  font-size: 0.8em;
}

.post-navigation ul,
.post-navigation li {
  display: inline;
  margin: 0;
  padding: 0;
}

.post-navigation a {
  display: inline-block;
  width: 1.8em;
  border: none !important;
}

.post-navigation li.control:first-child a,
.post-navigation li.control:last-child a {
  width: auto;
}

.post-navigation a.active {
  color: var(--text-color) !important;
}



/* Links */

a {
  font-weight: bold;
  border-bottom-width: 0.075em;
  border-bottom-style: solid;
}

a:link {
  color: var(--link-red);
  background: transparent;
  border-bottom-color: var(--border-color);
}

a:visited {
  color: var(--link-red-alt);
  background: transparent;
  border-bottom-color: var(--border-color-bright);
}

a:hover {
  color: black;
  background: transparent;
  border-bottom-color: transparent;
}

a:active {
  color: var(--page-background);
  background: var(--red);
  border-bottom-color: transparent;
}

a:focus {
  outline: 1px dotted #666;
  color: var(--page-background);
  background: var(--red);
  border-bottom-color: transparent;
}

a[href^="http"]:after {
  content: "\0000A0\e800";
  font-family: Fontello;
  font-size: 0.7em;
  position: relative;
  top: -0.1em;
  margin-left: 0.1em;
  display: inline-block;
  transform: rotate(-45deg);
}

a[href^="https://www.peterkroener.de"]:after,
a[href^="https://files.peterkroener.de"]:after,
a[href^="https://slides.peterkroener.de"]:after,
a[href^="http://www.peterkroener.de"]:after,
a[href^="http://files.peterkroener.de"]:after,
a[href^="http://slides.peterkroener.de"]:after,
a[href^="http://www.planet-pepe.net"]:after,
a[href^="http://cdn0.p"]:after,
a[href^="http://cdn1.p"]:after,
a[href^="http://cdn2.p"]:after {
  content: "";
}

a:link:after,
a:visited:after {
  color: var(--border-color);
}

a:hover:after,
a:active:after,
a:focus:after {
  color: inherit;
}

a.imagelink {
  background: none;
  border: none;
}



/* Content-Bilder */

figure {
  display: block;
  overflow: hidden;
}


figure.left,
figure.right {
  text-align: center;
  max-width: 50%;
  float: left;
  margin: 0.8em 0 1.25em 3.5em;
}
figure.right {
  float: right;
  margin-left: 3.5em;
  margin-right: 0;
}

figure a.imagelink {
  background: transparent;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  padding: 0;
  line-height: 0;
}

figure a.imagelink:link {
  border: 0.1em solid var(--red);
}

figure a.imagelink:visited {
  border: 0.1em solid var(--red--alt);
}

figure a.imagelink:hover,
figure a.imagelink:active {
  border: 0.1em solid black;
}

figure a.imagelink:focus {
  outline: 1px dotted #666;
  border: 0.1em solid transparent;
}

a.imagelink::after {
  content: none;
}



/* Typo */

h2, h3 {
  font-family: var(--headline-font);
  font-weight: normal;
  line-height: 1.3;
  margin: 1.5em 0 1em 0;
}

h4, h5 {
  font-family: var(--body-font);
  font-weight: bold;
}

h2 a, h3 a,
h2 em, h3 em,
h2 i, h3 i,
h2 strong, h3 strong
h2 b, h3 b {
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
}

h2 code, h3 code {
  background: none;
}

h2 {
  font-size: 2em;
}

h2 a {
  border: none; /* danke Chrome @ Safari! */
}

h3 {
  font-size: 1.6em;
  margin-bottom: 1em;
}

h4 {
  font-family: var(--body-font);
  font-size: 1.2em;
  font-weight: bold;
}

p, ul, ol, dl, table, pre, blockquote, figure {
  margin: 1.5em 0;
}

.large, .huge {
  font-size: 1.15em;
}
.center {
  text-align: center;
}
small, .small {
  font-size: 0.8em;
}

em, i, var {
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
del, s {
  text-decoration: line-through;
}
abbr {
  border-bottom: 1px dotted var(--text-color);
  cursor: help;
}
sup {
  font-size: 0.7em;
  vertical-align: super;
}
mark, .marked {
  background: yellow;
  font-weight: bold;
}

code {
  font-family: var(--mono-font);
  font-size: 1.1em;
  line-height: 1.4;
}
pre {
  background: var(--box-bg-color);
  box-shadow: 0 0 2rem -0.25rem var(--shadow-color);
  font-family: var(--mono-font);
  font-size: 1.1em;
  line-height: 1.4;
  overflow: auto;
  padding: 1em;
}

blockquote {
  font-style: italic;
  border-left: 1em solid var(--body-background);
  padding: 0 0 0 2em;
}
q {
  font-style: italic;
  quotes: "„" "“";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

table {
  border-collapse: collapse;
}
td, th {
  text-align: left;
  border: 1px solid var(--border-color);
  padding: 0.2em 0.5em;
}
th {
  background: var(--red);
  color: var(--page-background);
  font-weight: bold;
}
td {
  background: var(--page-background);
}

dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1em 0;
}

ul, ol {
  padding-left: 1.5rem;
}
ul ul, ul ol, ol ul, ol ol {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul {
  list-style: square;
}
ol {
  list-style: decimal;
}
li {
  margin-bottom: 0.4em;
}

.bild-rechts {
  float: right;
  margin: 0 0 1em 4em;
}

.bild-links {
  float: left;
  margin: 0 4em 1em 0;
}



/* Blockboxen */

.block, .gastbeitrag {
  margin: 1.5em 0;
  padding: 1em 1.5em;
  clear: both;
  box-shadow: 0 0 2rem -0.25rem var(--shadow-color);
}
.gastbeitrag {
  border-top: 0.35em solid #D6CFC2;
  background: var(--body-background);
}
.block.info {
  border-top: 0.35em solid #66B2FF;
  background: #C2E0FF;
}
.block.warnmsg {
  border-top: 0.35em solid #F2DB0D;
  background: #FFF38C;
}
.block.errormsg {
  border-top: 0.35em solid #F55C3D;
  background: #FFBFB3;
}
.block h3 {
  font-size: inherit;
  font-weight: bold;
  font-family: var(--body-font);
  margin: 0.5em 0 1.5em 0;
}
.block p {
  margin: 1.5em 0;
}
.block img {
  float: right;
  margin: 0.25em 0 1em 2em;
}



/* Kontaktseite */

.contact {
  font-size: 2.25em;
  margin: 0.5em 0;
}

@media screen and (max-width: 480px) {
  .contact {
    font-size: 1.5em;
  }
}

.contact img {
  width: 1em;
  position: relative;
  top: 0.25em;
  margin-right: 0.25em;
}



/* Dekobilder */

.profilepic {
  float: right;
  box-shadow: 0 0 1.5rem var(--shadow-color);
  margin: 1em 0 1rem 3rem;
  max-width: 30%;
  min-width: 220px;
  border-radius: 50%;
  shape-outside: circle(50%);
}

@media screen and (max-width: 520px) {
  .profilepic {
    width: 50%;
    min-width: auto;
    max-width: 100%;
  }
}

.banner,
video,
iframe {
  box-shadow: 0 0 1.25em var(--shadow-color);
  max-width: 100%;
}



/* Sidebars */

@media screen and (min-width: 769px) {

  .sidebarBox, .artikelserie {
    float: right;
    max-width: 40%;
    min-width: 20rem;
    font-size: 1rem;
    background: var(--box-bg-color);
    box-shadow: 0 0 2rem -0.25rem var(--shadow-color);
    margin: 1.5rem calc(var(--wrapper-padding) * -1.5) 1.75rem 3rem;
    padding: 0 1.5rem;
  }

  .artikelserie {
    margin-top: 1rem
  }

  .sidebarBox h3 {
    font-size: 1.5rem;
    margin-top: 1em;
  }

}

/* Footer */

.page__footer {
  display: flex;
  padding: 2rem var(--wrapper-padding);
}
.page__footer__item {
  flex: 1 1 0;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page__footer__item:first-child {
  margin-right: var(--wrapper-padding);
}
.page__footer__item:last-child {
  margin-left: var(--wrapper-padding);
}
.page__footer__item__links {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .page__footer {
    display: block;
  }
  .page__footer__item:first-child {
    padding: 0;
    margin: 0;
  }
  .page__footer__item:last-child {
    padding: 0;
    margin: 2rem 0;
  }
}



/* Suchformular */

.searchForm {
  background: var(--page-background);
  box-shadow: 0 0 2rem -0.25rem var(--shadow-color);
  display: flex;
}
.searchForm label span {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
}
.searchForm__input__field,
.searchForm__submit {
  border: none;
  font: inherit;
  padding: 1rem;
  background: transparent;
}
.searchForm__input {
  flex: 1 1 auto;
}
.searchForm__input__field {
  width: 100%;
}
.searchForm__submit {
  background: var(--red);
  color: var(--page-background);
  font-weight: bold;
  width: 30%;
}
.searchForm__submit:hover {
  background: var(--text-color);
}



/* Logotapete */

.logotapete {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-auto-flow: dense;
  grid-gap: 1.5em 2em;
}

.logotapete img {
  max-width: 100%;
  display: block;
}

.logotapete li {
  margin: 0;
}

.logotapete li.high {
  grid-row-end: span 2;
}

.logotapete li.wide {
  grid-column-end: span 2;
}

@media screen and (min-width: 550px){
  .logotapete li:nth-child(1),
  .logotapete li:nth-child(2),
  .logotapete li:nth-child(3) {
    align-self: start;
  }
  .logotapete li:nth-last-child(1),
  .logotapete li:nth-last-child(2),
  .logotapete li:nth-last-child(3),
  .logotapete li:nth-last-child(4) {
    align-self: baseline;
  }
}

@media screen and (max-width: 550px){
  .logotapete {
    grid-template-columns: repeat(2, 1fr);
  }
  .logotapete li:nth-child(1),
  .logotapete li:nth-child(2) {
    align-self: start;
  }
  .logotapete li:nth-last-child(1),
  .logotapete li:nth-last-child(2) {
    align-self: baseline;
  }
}



/* Kommentare */

.comments {
  margin-top: 3.5em;
}

#KommentareListe {
  list-style: none;
}

.comment:not(:last-child) {
  border-bottom: 1px dotted var(--border-color);
}

.comment {
  clear: both;
  position: relative;
  margin: 3em 0;
  padding-bottom: 1.5em;
}

.comment h4 {
  margin-top: 2em;
  margin-left: 80px;
}

.comment h4 .jumplink {
  float: right;
}

.comment .commentmeta {
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-left: 80px;
}

.comment .avatar {
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  left: 0;
}



/* Highlighting */

.str { color: #A61111; }
.kwd { font-weight: bold; }
.com { color: #6B6; font-style: italic; }
.typ { color: #195FA6; font-weight: bold; }
.lit { color: #099; }
.pun { color: #777; }
.pln { color: #000; }
.tag { color: #08C; font-weight: bold; }
.atn { color: #159; }
.atv { color: #0B0; }
.dec { color: #F0F; font-style: italic; }
